@import './assets/styles/reset.scss';
@import './assets/styles/vars.scss';


.body {
  position: relative;
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  color: $dark;
  background-color: $primary;
}

.wrapper {
  display: block;
  margin: 100px auto;
  padding: 60px;
  max-width: 1230px;
  background-color: $white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 52px 1px $shadow;
  -moz-box-shadow: 0px 0px 52px 1px $shadow;
  box-shadow: 0px 0px 52px 1px $shadow;
}

/* HEADER */
.header {
  position: relative;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 30px;
  height: 22px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: 830ms;

  &__btn {
    position: absolute;
    top: 45.5%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $primary;
    z-index: 999;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $primary;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $primary;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between
}

.nav__link {
  color: $black;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $dark-hover;
  }
}

/* INFO */

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 30px;
  align-items: center;
  padding: 40px 0;

  &__img {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px solid $primary;
    background-color: #999;
  }

  &__title {
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__subtitle {
    font-size: 26px;
  }
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 30px
}

.section {
  &__title {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $primary;
  }
  
  &__content {
    font-size: 16px;
    padding: 15px 10px;
  }
}


/* CONTACTS */
.contacts {
  &__title {
    max-width: 300px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $primary;
  }
  &__list {
    margin-top: 20px;
    margin-left: 15px;
  }
  &__item {
    margin-top: 10px;
  }
  &__name {
    display: block;
    font-weight: bold;
  }
  &__link {
    text-decoration: none;
    color: #333;
  }
}


/* SECTION SKILL */

.skills {
  &__list {
    font-size: 17px;
    padding-left: 20px;
  }
  
  &__item {
    list-style-type: disc;
  }
  
  &__name {
    font-weight: bold;
  }
}


/* SECTION EDUCATION */
.education {
  &__items {
    font-size: 16px;
    padding: 15px 10px;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
  }
  
  &__header {
    font-size: 17px;
    font-weight: bold;
  }
}


/* SECTION LANGUAGES */
.languages {
  &__content {
    font-size: 17px;
    padding-left: 20px;
  }
  
  &__item {
    list-style-type: disc;
  }
  
  &__name {
    font-weight: bold;
  }
}


/* SECTION LANGUAGES */
.footer {
  padding-top: 20px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid $primary;;
    padding-top: 30px;
  }
  
  &__img {
    width: 80px;
    height: 40px;
  }
  
  &__link {
    color: $black;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      opacity: 0.75;
    }
  }
}




@import './assets/styles/media.scss';
